.combobox {
  background-color: black;
  position: relative;
  z-index: 10;
}

.combobox-input-container {
  display: inline-block;
  position: relative;
  background-color: darkgray;
}

.combobox-input {
  height: 35px;
  font-size: 17px;
  text-indent: 30px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.search-icon {
  font-size: 25px;
  position: absolute;
  top: 15%;
}

.combobox-popover {
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  position: absolute;
  top: 110%;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.combobox-option-container {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.popover-image-container span {
  font-size: 12px;
}

.popover-image {
  height: 50px;
  width: 50px;
  margin-right: 5px;
}
