.App {
  font-family: sans-serif;
  /* text-align: center; */
}

.bg-card {
  background-color: gainsboro;
  padding: 10px;
  margin-bottom: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-media {
  height: 120px;
  width: 120px;
  float: left;
  padding-right: 1rem;
}

.card-thumb {
  height: auto;
  max-width: 100%;
}

.ml-1 {
  margin-left: 1rem;
}
